[submodule "src/ExtLib/BaseClasses"]
	path = src/ExtLib/BaseClasses
	url = https://github.com/v0lt/BaseClasses.git
[submodule "src/ExtLib/nv-codec-headers"]
	path = src/ExtLib/nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers.git
[submodule "src/ExtLib/vvdec/vvdec"]
	path = src/ExtLib/vvdec/vvdec
	url = https://github.com/fraunhoferhhi/vvdec.git
[submodule "src/ExtLib/darkmodelib"]
	path = src/ExtLib/darkmodelib
	url = https://github.com/ozone10/win32-darkmodelib.git
